@media screen and (min-width: 700px) {
	
	h1, h2 {
		font-family: 'Times', serif;
		font-weight: normal;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: left;
	}
	h2 {
		font-size: 14px;
	}
	div#container {
		margin:50px;
		position: relative;
	}
	img {
		margin-bottom:25px;
	}
	div#left{
	float: left;
	width:300px;
	}
	div#center {
	float: left;
	margin-left: 300px;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 800px;
	}
	div#contact{
		margin-top:30px;
	}
	div.text {
			font-family: 'Times', serif;
			margin-top: 0px;
			padding-top: 0px;
			font-size: 14px;
			color: #1e1e1e;
	}
	div#wrapper {
				margin-left: 10px;
	}
	html {
		background-color: white;
	}
	div#center h2 {
		margin-top: 30px;
	}
	div#contact a {
		text-decoration: none;
		color: black;
	}
	div.buttonbar{
		color:#565656;
	}
	div.popup {
		margin-top:10px;
	}

	.button {
		background-color: white;
		border: none;
		color: #565656;
		padding: 0px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		font-family: 'Times', serif;
		cursor: pointer; 
	}
	
}

@media screen and (max-width: 700px) { 

	h1, h2 {
		font-family: 'Times', serif;
		font-weight: normal;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: left;
	}
	h2 {
		font-size: 14px;
	}
	div#container {
		margin:50px;
		position: relative;
	}
	div#left{
	width:300px;
	}
	div#center {
		margin-left:0px;
		margin-top:50px;
		clear:left;
	}
	div#contact{
		margin-top:30px;
	}
	div.text {
			font-family: 'Times', serif;
			margin-top: 0px;
			padding-top: 0px;
			font-size: 14px;
			color: #1e1e1e;
	}
	div#wrapper {
				margin-left: 0px;
	}
	html {
		background-color: white;
	}
	div#center h2 {
		margin-top: 30px;
	}
	div#contact a {
		text-decoration: none;
		color: black;
	}
	div.buttonbar{
		color:#565656;
	}
	div.popup {
		margin-top:10px;
	}

	.button {
		background-color: white;
		border: none;
		color: #565656;
		padding: 0px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		font-family: 'Times', serif;
		cursor: pointer; 
	}

}

